<h1>Hello, world!</h1>

<button (click)="clicked()">Display</button>
<!-- <cdk-virtual-scroll-viewport [itemSize]="20">-->
  <table *ngIf="customers">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Customer Number</th>
        <th>Phone</th>
        <th>AddressLine 1</th>
        <th>AddressLine 2</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Contact FirstName</th>
        <th>Contact LastName</th>
        <th>Sales RepEmployee Number</th>
        <th>Credit Limit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cust of customers">
        <td>
          {{cust.customerName}}
        </td>
        <td>
          {{cust.customerNumber}}
        </td>
        <td>
          {{cust.phone}}
        </td>
         <td>
          {{cust.addressLine1}}
        </td>
        <td>
          {{cust.addressLine2}}
        </td>
        <td>
          {{cust.city}}
        </td>
        <td>
          {{cust.state}}
        </td>
        <td>
          {{cust.postalCode}}
        </td>
         <td>
          {{cust.country}}
        </td>
        <td>
          {{cust.contactFirstName}}
        </td>
        <td>
          {{cust.contactLastName}}
        </td>
        <td>
          {{cust.salesRepEmployeeNumber}}
        </td>
         <td>
          {{cust.creditLimit}}
        </td>
      </tr>
    </tbody>
  </table>
<!-- /cdk-virtual-scroll-viewport>--><

